.wrapper {
    width: 1000px;
    border: lightgray solid 3px;
    margin: 50px auto;
    padding: 30px 30px;
    align-items: center;
    background: whitesmoke;
  }
h1, h2, .textCentered{
    text-align: center;
}
.header{
    background-color: #78C2AD;
}
.footer{
    background-color: #78C2AD;
    height: 400px;
}
.cakeInfo{
    height: 200px;
}
.newCake{
    border: white solid 2px;
}