<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css ">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <title>Rate My Cakes</title>
</head>

<body>
  <div class="jumbotron header">
      <h1>Rate my cakes</h1>
  </div>
  <div class="container wrapper">
    <div class="row">
      <div class="col-5 newCake">
        <app-new-cake></app-new-cake>
        </div>
      <div class="col-7">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <img style="width: 200px; "
                src="https://img1.cookinglight.timeinc.net/sites/default/files/styles/medium_2x/public/1542062283/chocolate-and-cream-layer-cake-1812-cover.jpg?itok=rEWL7AIN"
                alt="">
            </div>
            <div class="col-sm">
              One of three columns
            </div>
          </div>
          <div class="row">
              <div class="col-sm">
                <img style="width: 200px; "
                  src="https://i.pinimg.com/564x/06/a2/dd/06a2dd4059b27665ae95e8cccd7884a2.jpg"
                  alt="">
              </div>
              <div class="col-sm">
                One of three columns
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container wrapper cakeInfo">
  </div>
  <div class="footer">
      
  </div>

</body>

</html>